//colors:
$dark-blue-dm: #2b3945; 
$very-dark-blue-dm: #202c37;
$very-dark-blue-lm: #111517;
$dark-grey-lm: #858585;
$verylight-grey-lm:#fafafa; 
$white:#fff;

//Font size: 
$font-size-items:14px;
$font-size-details: 16px;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint:45rem;
